body {
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("../images/questions_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0;
}

.progress {
  max-width: 500px;
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.progress .value {
  /* 질문 수 만큼 부모크기의 상대 길이를 갖도록 함*/
  width: 10%;
  height: 20px;
  background-color: #ffb103;
  border-radius: 10px;
  transition: 0.4s;
}

.question-box {
  border-radius: 12px;
  width: 450px;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 90px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 12px 14px #dde2e8;
  position: relative;
}

.question-box .box_bg {
  position: absolute;
  border-radius: 12px;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-size: 550px 100%;
  margin: 0;
  padding: 0;
}

.question-box .number {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  color: #b953c2;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 2px 2px #fffc56;
}

.question-box .question {
  position: relative;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
  color: #b953c2;
  text-shadow: 2px 2px #fffc56;
}

.question-box .choice {
  position: relative;
  opacity: 0.8;
  font-size: 22px;
  text-shadow: 1px 1px black;
  border-radius: 120px;
  margin-bottom: 40px;
}
